extends layout

block content
  h1.text-center.mb-4 Welcome, Admin!
  .row
    .col-md-6
      .card.text-white.bg-success.mb-3
        .card-body
          h5.card-title Projects
          p.card-text #{projectCount} total projects
          a.btn.btn-light(href="/admin/projects") Manage Projects
    .col-md-6
      .card.text-white.bg-info.mb-3
        .card-body
          h5.card-title Skills
          p.card-text #{skillCount} total skills
          a.btn.btn-light(href="/admin/skills") Manage Skills
